In [ ]:
# The office hour will start in 5 minutes. 

# During the office hour, you can clarify and ask questions about course content.
# You can also talk about problems regarding your reading, code, etc. 
# I am glad to explain and help. Let us begin soon!

Bullet points:

* To be able to run the code, it's recommended to put this demo into /resources directory.
* Often use dir() and help() function to understand the methods and functions

In [1]:
# Let's first import numpy, pandas, matplotlib, scipy.stats 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

# Let's import the president data
presidents = pd.read_csv("datasets/presidents.csv")
# Let's import the census.csv
census = pd.read_csv("datasets/census.csv")

In [78]:
# and take a look for the first few tows
census.head()

                        SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County      50       3         6      1       1
        Baldwin County      50       3         6      1       3
        Barbour County      50       3         6      1       5
        Bibb County         50       3         6      1       7
        Blount County       50       3         6      1       9

                        CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County          54571              54571            54660
        Baldwin County         182265             182265           183193
        Barbour County          27457              27457            27341
        Bibb County             22915              22919            22861
        Blount County           57322              57322            57373

                        POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME  CTYNAME                                           ...
Alabama Autauga County            55253            55175  ...
        Baldwin County           186659           190396  ...
        Barbour County            27226            27159  ...
        Bibb County               22733            22642  ...
        Blount County             57711            57776  ...

                        RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME  CTYNAME
Alabama Autauga County          7.242091         -2.915927         -3.012349
        Baldwin County         14.832960         17.647293         21.845705
        Barbour County         -4.728132         -2.500690         -7.056824
        Bibb County            -5.527043         -5.068871         -6.201001
        Blount County           1.807375         -1.177622         -1.748766

                        RDOMESTICMIG2014  RDOMESTICMIG2015  RNETMIG2011  \
STNAME  CTYNAME
Alabama Autauga County          2.265971         -2.530799     7.606016
        Baldwin County         19.243287         17.197872    15.844176
        Barbour County         -3.904217        -10.543299    -4.874741
        Bibb County            -0.177537          0.177258    -5.088389
        Blount County          -2.062535         -1.369970     1.859511

                        RNETMIG2012  RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County    -2.626146    -2.722002     2.592270    -2.187333
        Baldwin County    18.559627    22.727626    20.317142    18.293499
        Barbour County    -2.758113    -7.167664    -3.978583   -10.543299
        Bibb County       -4.363636    -5.403729     0.754533     1.107861
        Blount County     -0.848580    -1.402476    -1.577232    -0.884411

[5 rows x 98 columns]

In [79]:
# Shape
census.shape

(3142, 98)

In [80]:
census.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'CENSUS2010POP',
       'ESTIMATESBASE2010', 'POPESTIMATE2010', 'POPESTIMATE2011',
       'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014',
       'POPESTIMATE2015', 'NPOPCHG_2010', 'NPOPCHG_2011', 'NPOPCHG_2012',
       'NPOPCHG_2013', 'NPOPCHG_2014', 'NPOPCHG_2015', 'BIRTHS2010',
       'BIRTHS2011', 'BIRTHS2012', 'BIRTHS2013', 'BIRTHS2014', 'BIRTHS2015',
       'DEATHS2010', 'DEATHS2011', 'DEATHS2012', 'DEATHS2013', 'DEATHS2014',
       'DEATHS2015', 'NATURALINC2010', 'NATURALINC2011', 'NATURALINC2012',
       'NATURALINC2013', 'NATURALINC2014', 'NATURALINC2015',
       'INTERNATIONALMIG2010', 'INTERNATIONALMIG2011', 'INTERNATIONALMIG2012',
       'INTERNATIONALMIG2013', 'INTERNATIONALMIG2014', 'INTERNATIONALMIG2015',
       'DOMESTICMIG2010', 'DOMESTICMIG2011', 'DOMESTICMIG2012',
       'DOMESTICMIG2013', 'DOMESTICMIG2014', 'DOMESTICMIG2015', 'NETMIG2010',
       'NETMIG2011', 'NETMIG2012', 'NETMIG2013', 'NETMIG2014', 'NETMIG2015',
       'RESIDUAL2010', 'RESIDUAL2011', 'RESIDUAL2012', 'RESIDUAL2013',
       'RESIDUAL2014', 'RESIDUAL2015', 'GQESTIMATESBASE2010',
       'GQESTIMATES2010', 'GQESTIMATES2011', 'GQESTIMATES2012',
       'GQESTIMATES2013', 'GQESTIMATES2014', 'GQESTIMATES2015', 'RBIRTH2011',
       'RBIRTH2012', 'RBIRTH2013', 'RBIRTH2014', 'RBIRTH2015', 'RDEATH2011',
       'RDEATH2012', 'RDEATH2013', 'RDEATH2014', 'RDEATH2015',
       'RNATURALINC2011', 'RNATURALINC2012', 'RNATURALINC2013',
       'RNATURALINC2014', 'RNATURALINC2015', 'RINTERNATIONALMIG2011',
       'RINTERNATIONALMIG2012', 'RINTERNATIONALMIG2013',
       'RINTERNATIONALMIG2014', 'RINTERNATIONALMIG2015', 'RDOMESTICMIG2011',
       'RDOMESTICMIG2012', 'RDOMESTICMIG2013', 'RDOMESTICMIG2014',
       'RDOMESTICMIG2015', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013',
       'RNETMIG2014', 'RNETMIG2015'],
      dtype='object')

Let us learn the describe() function!

* The describe() function is used to generate descriptive statistics that summarize the central tendency, dispersion and shape of a datasetâ€™s distribution, excluding NaN values.

* Syntax: DataFrame.describe(self, percentiles=None, include=None, exclude=None)

In [81]:
census.describe()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
count,3142.0,3142.000000,3142.000000,3142.000000,3142.000000,3.142000e+03,3.142000e+03,3.142000e+03,3.142000e+03,3.142000e+03,...,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000
mean,50.0,2.668682,5.192553,30.280076,103.572884,9.826204e+04,9.826802e+04,9.845540e+04,9.921033e+04,9.996901e+04,...,-1.670721,-2.579837,-1.321452,-2.307488,-1.384129,-0.707563,-1.520276,-0.257281,-1.100763,-0.144637
std,0.0,0.803149,1.964060,15.144339,107.704060,3.129467e+05,3.129583e+05,3.135478e+05,3.167040e+05,3.199686e+05,...,10.479885,11.948278,12.268314,11.512543,12.380406,10.681113,12.299923,12.275591,11.537218,12.339410
min,50.0,1.000000,1.000000,1.000000,1.000000,8.200000e+01,8.200000e+01,8.300000e+01,9.000000e+01,8.100000e+01,...,-128.205128,-147.727273,-109.876862,-178.947368,-84.844838,-128.205128,-147.727273,-102.988031,-178.947368,-62.322703
25%,50.0,2.000000,4.000000,18.000000,35.000000,1.111450e+04,1.111450e+04,1.108775e+04,1.108175e+04,1.101500e+04,...,-6.204546,-7.629136,-6.444499,-7.410370,-6.773510,-5.487819,-6.943265,-5.568782,-6.321287,-5.623333
50%,50.0,3.000000,5.000000,29.000000,79.000000,2.587200e+04,2.587200e+04,2.584600e+04,2.579050e+04,2.583400e+04,...,-1.605021,-2.664319,-1.857368,-2.019618,-2.046162,-0.746070,-1.676233,-0.880087,-0.990431,-0.935521
75%,50.0,3.000000,7.000000,45.000000,133.000000,6.678000e+04,6.678050e+04,6.691225e+04,6.688500e+04,6.709950e+04,...,2.909174,2.588470,3.392461,3.320646,3.792381,4.010888,3.904147,4.676683,4.544616,4.981018
max,50.0,4.000000,9.000000,56.000000,840.000000,9.818605e+06,9.818700e+06,9.826009e+06,9.896602e+06,9.970436e+06,...,101.123596,119.193807,239.130435,146.367943,281.407035,101.123596,119.861185,239.130435,146.960126,281.407035

In [6]:
type(census.groupby('STNAME'))

pandas.core.groupby.generic.DataFrameGroupBy

In [52]:
# CENSUS2010POP is the population of each county in 2010 census
# We are interested to see which county has the most population in 2010, for each state

#census.groupby('STNAME').agg('max')['CENSUS2010POP']

In [55]:
census.groupby('STNAME').agg('mean')['CENSUS2010POP'].tail()

STNAME
Virginia          60111.293233
Washington       172424.102564
West Virginia     33690.800000
Wisconsin         78985.916667
Wyoming           24505.478261
Name: CENSUS2010POP, dtype: float64

In [58]:
# The same operation could also be done by the .agg() function
census.groupby('STNAME').agg('mean')['CENSUS2010POP']['Virginia']

60111.29323308271

In [56]:
census.groupby('STNAME').mean()['CENSUS2010POP'].tail()

STNAME
Virginia          60111.293233
Washington       172424.102564
West Virginia     33690.800000
Wisconsin         78985.916667
Wyoming           24505.478261
Name: CENSUS2010POP, dtype: float64

In [59]:
census.groupby('STNAME').mean()['CENSUS2010POP']['Virginia']

60111.29323308271

In [66]:
# Surprising!! No matter you use the .mean() or .agg('mean') we see the aggregated values are the same
census.groupby('STNAME').agg('mean')['CENSUS2010POP']['Virginia'] == census.groupby('STNAME').mean()['CENSUS2010POP']['Virginia']

True

### Sample variance

In probability theory and statistics, variance is the expectation of the squared deviation of a random variable from its mean. Informally, it measures how far a set of numbers is spread out from their average value. (From Wiki)

$$S^2 = \frac{\sum_{i = 1}^n (x_i - \bar{x})^2}{n - 1}$$

* $x_i$ = the value of the ith observation
* $\bar{x}$ = mean value of all observations 
* n = the number of observations

In [64]:
census.groupby('STNAME').var()['CENSUS2010POP']['Virginia']

13675968129.920937

In [65]:
census.groupby('STNAME').agg('var')['CENSUS2010POP']['Virginia']

13675968129.920937

In [67]:
# Surprising!!
census.groupby('STNAME').agg('var')['CENSUS2010POP']['Virginia'] == census.groupby('STNAME').var()['CENSUS2010POP']['Virginia']

True

In [ ]:
# print out the precision of agg function deviated from the true value???
# I'll go stackoverflow

In [61]:
# Assert statement for checking as an autograder for codes
# unittest
# np.isclose we can manually specify the tolerance level that return true value
# np.isclose returns True if the two comparing values are approximately the same
np.isclose(census.groupby('STNAME').agg('mean')['CENSUS2010POP']['Virginia'], census.groupby('STNAME').mean()['CENSUS2010POP']['Virginia'])

True

In [21]:
# Subset the census data SUMLEV = 50
census = census[census['SUMLEV'] == 50]
#census

In [57]:
census.STNAME.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [ ]:
&&timeit

# GKE - Google Kubernetes Engine
# Azure - containerize computering

In [17]:
#census.groupby('STNAME').agg('max')['CENSUS2010POP']

In [18]:
#census.groupby('STNAME').agg(['min', 'mean', 'max'])['CENSUS2010POP']

In [19]:
#census.groupby('STNAME').CENSUS2010POP.agg(['min', 'mean', 'max'])

In [20]:
# Different aggregations per column
# Multi-level column
# First level being the column name passed through as keys in the dictionary
# Second level shows the aggregate function 

#census.groupby('STNAME').agg({'CENSUS2010POP': ['min', 'max'], 'RDOMESTICMIG2015': ['mean', 'var']})

### nlargest() function
### idxmax() function

* The nlargest() function is used to get the first n rows ordered by columns in descending order. The columns that are not specified are returned as well, but not used for ordering.

* The default value for nlargest() is 5, just as head()

* Syntax: DataFrame.nlargest(self, n, columns, keep='first')

* idxmax() function returns the row IDs of maximum values of each column of a DataFrame

* Syntax: DataFrame.idxmax(axis = 0, skipna = True)

In [85]:
census.groupby('STNAME')[['CENSUS2010POP', 'ESTIMATESBASE2010', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015']].describe()

                     CENSUS2010POP                                         \
                             count           mean           std       min
STNAME
Alabama                       67.0   71339.343284  1.037267e+05    9045.0
Alaska                        29.0   24490.724138  5.688078e+04     662.0
Arizona                       15.0  426134.466667  9.684505e+05    8437.0
Arkansas                      75.0   38878.906667  5.665489e+04    5368.0
California                    58.0  642309.586207  1.416933e+06    1175.0
Colorado                      64.0   78581.187500  1.570276e+05     699.0
Connecticut                    8.0  446762.125000  3.708867e+05  118428.0
Delaware                       3.0  299311.333333  2.078563e+05  162310.0
District of Columbia           1.0  601723.000000           NaN  601723.0
Florida                       67.0  280616.567164  4.457556e+05    8365.0
Georgia                      159.0   60928.635220  1.270939e+05    1717.0
Hawaii                         5.0  272060.200000  3.877012e+05      90.0
Idaho                         44.0   35626.863636  6.663638e+04     982.0
Illinois                     102.0  125790.509804  5.272934e+05    4320.0
Indiana                       92.0   70476.108696  1.167484e+05    6128.0
Iowa                          99.0   30771.262626  5.288873e+04    4029.0
Kansas                       105.0   27172.552381  7.465011e+04    1247.0
Kentucky                     120.0   36161.391667  7.412276e+04    2282.0
Louisiana                     64.0   70833.937500  9.439497e+04    5252.0
Maine                         16.0   83022.562500  7.311119e+04   17535.0
Maryland                      24.0  240564.666667  2.909291e+05   20197.0
Massachusetts                 14.0  467687.785714  4.125918e+05   10172.0
Michigan                      83.0  119080.000000  2.597951e+05    2156.0
Minnesota                     87.0   60964.655172  1.439058e+05    3558.0
Mississippi                   82.0   36186.548780  4.133777e+04    1406.0
Missouri                     115.0   52077.626087  1.221185e+05    2171.0
Montana                       56.0   17668.125000  3.011713e+04     494.0
Nebraska                      93.0   19638.075269  6.233641e+04     460.0
Nevada                        17.0  158855.941176  4.723254e+05     783.0
New Hampshire                 10.0  131647.000000  1.219413e+05   33055.0
New Jersey                    21.0  418661.619048  2.523918e+05   66083.0
New Mexico                    33.0   62399.363636  1.180731e+05     695.0
New York                      62.0  312550.032258  5.323563e+05    4836.0
North Carolina               100.0   95354.830000  1.417431e+05    4407.0
North Dakota                  53.0   12690.396226  2.507253e+04     727.0
Ohio                          88.0  131096.636364  2.122978e+05   13435.0
Oklahoma                      77.0   48718.844156  1.073656e+05    2475.0
Oregon                        36.0  106418.722222  1.625421e+05    1441.0
Pennsylvania                  67.0  189587.746269  2.683390e+05    5085.0
Rhode Island                   5.0  210513.400000  2.367605e+05   49875.0
South Carolina                46.0  100551.391304  1.081025e+05   10233.0
South Dakota                  66.0   12336.060606  2.439964e+04    1006.0
Tennessee                     95.0   66801.105263  1.256802e+05    5077.0
Texas                        254.0   98998.271654  3.528918e+05      82.0
Utah                          29.0   95306.379310  2.118502e+05    1059.0
Vermont                       14.0   44695.785714  3.651167e+04    6306.0
Virginia                     133.0   60111.293233  1.169443e+05    2321.0
Washington                    39.0  172424.102564  3.424514e+05    2266.0
West Virginia                 55.0   33690.800000  3.316572e+04    5717.0
Wisconsin                     72.0   78985.916667  1.321988e+05    4232.0
Wyoming                       23.0   24505.478261  2.271863e+04    2484.0

                                                                 \
                            25%       50%        75%        max
STNAME
Alabama                18663.50   34339.0   81348.50   658466.0
Alaska                  2508.00    7029.0   13477.00   291826.0
Arizona                50508.50  131346.0  205609.50  3817117.0
Arkansas               12701.00   19019.0   39208.00   382748.0
California             48000.75  179140.5  642592.75  9818605.0
Colorado                5734.00   15083.5   42663.00   622263.0
Connecticut           162429.75  231991.0  870361.25   916829.0
Delaware              179727.50  197145.0  367812.00   538479.0
District of Columbia  601723.00  601723.0  601723.00   601723.0
Florida                28125.50   98786.0  309569.50  2496435.0
Georgia                11550.50   22598.0   51381.50   920581.0
Hawaii                 67091.00  154834.0  185079.00   953207.0
Idaho                   7619.75   13014.0   29589.50   392365.0
Illinois               14678.50   27315.5   54092.00  5194675.0
Indiana                21419.50   33844.0   69188.25   903393.0
Iowa                   10430.50   15679.0   24631.00   430640.0
Kansas                  3309.00    7053.0   21604.00   544179.0
Kentucky               12385.25   18751.0   35619.00   741096.0
Louisiana              20610.50   33685.5   75776.00   440171.0
Maine                  35084.00   53323.0  111314.25   281674.0
Maryland               45294.00  103129.5  255390.75   971777.0
Massachusetts         137934.25  479204.5  709229.75  1503085.0
Michigan               22618.00   38520.0   94105.50  1820584.0
Minnesota              10930.50   21676.0   43340.50  1152425.0
Mississippi            13448.25   22989.5   37040.00   245285.0
Missouri               10236.00   18956.0   38912.50   998954.0
Montana                 2752.25    7198.0   11990.50   147972.0
Nebraska                2908.00    6274.0   10939.00   517110.0
Nevada                  5345.00   16528.0   48818.00  1951269.0
New Hampshire          50885.50   83117.5  140619.50   400721.0
New Jersey            156898.00  448734.0  576567.00   905116.0
New Mexico             11988.00   27213.0   64727.00   662564.0
New York               51243.50   91301.0  231060.25  2504700.0
North Carolina         24628.00   55621.5  106912.75   919628.0
North Dakota            2420.00    4153.0    8962.00   149778.0
Ohio                   37456.75   58185.5  124728.25  1280122.0
Oklahoma               10957.00   22119.0   45837.00   718633.0
Oregon                 19767.00   41536.5  101311.50   735334.0
Pennsylvania           44198.50   88880.0  211128.50  1526006.0
Rhode Island           82888.00  126979.0  166158.00   626667.0
South Carolina         27472.00   57750.0  136802.50   451225.0
South Dakota            2970.00    5369.5   10139.25   169468.0
Tennessee              18101.50   31807.0   56443.00   927644.0
Texas                   6748.75   18381.0   49438.50  4092459.0
Utah                    9225.00   20802.0   49975.00  1029655.0
Vermont                27657.25   36973.0   54439.00   156545.0
Virginia               14068.00   24802.0   54842.00  1081726.0
Washington             20619.00   60699.0  146039.00  1931249.0
West Virginia          13714.50   24069.0   39612.00   193063.0
Wisconsin              19745.50   41384.0   84857.50   947735.0
Wyoming                 8618.00   15885.0   32707.50    91738.0

                     ESTIMATESBASE2010                 ... POPESTIMATE2014  \
                                 count           mean  ...             75%
STNAME                                                 ...
Alabama                           67.0   71345.179104  ...        81239.50
Alaska                            29.0   24491.344828  ...        13781.00
Arizona                           15.0  426153.800000  ...       211167.50
Arkansas                          75.0   38879.440000  ...        38663.50
California                        58.0  642319.017241  ...       669323.25
Colorado                          64.0   78583.187500  ...        42219.25
Connecticut                        8.0  446764.750000  ...       870146.25
Delaware                           3.0  299312.000000  ...       382097.50
District of Columbia               1.0  601767.000000  ...       659836.00
Florida                           67.0  280666.014925  ...       327242.50
Georgia                          159.0   60935.100629  ...        53710.00
Hawaii                             5.0  272060.200000  ...       194016.00
Idaho                             44.0   35628.454545  ...        29758.00
Illinois                         102.0  125799.500000  ...        53519.00
Indiana                           92.0   70480.750000  ...        68870.75
Iowa                              99.0   30776.454545  ...        24724.50
Kansas                           105.0   27172.685714  ...        20876.00
Kentucky                         120.0   36161.241667  ...        35728.50
Louisiana                         64.0   70835.609375  ...        76486.75
Maine                             16.0   83022.562500  ...       110812.50
Maryland                          24.0  240574.375000  ...       264638.00
Massachusetts                     14.0  467701.214286  ...       750528.75
Michigan                          83.0  119085.891566  ...        94788.00
Minnesota                         87.0   60964.655172  ...        43990.50
Mississippi                       82.0   36196.378049  ...        36144.75
Missouri                         115.0   52077.626087  ...        38441.00
Montana                           56.0   17668.160714  ...        12379.25
Nebraska                          93.0   19638.075269  ...        10743.00
Nevada                            17.0  158864.176471  ...        51766.00
New Hampshire                     10.0  131646.600000  ...       142143.50
New Jersey                        21.0  418663.619048  ...       585916.00
New Mexico                        33.0   62399.757576  ...        65837.00
New York                          62.0  312549.790323  ...       231130.00
North Carolina                   100.0   95356.920000  ...       112934.00
North Dakota                      53.0   12690.396226  ...        10959.00
Ohio                              88.0  131099.147727  ...       123829.25
Oklahoma                          77.0   48722.285714  ...        45301.00
Oregon                            36.0  106418.694444  ...       103011.75
Pennsylvania                      67.0  189595.328358  ...       210368.00
Rhode Island                       5.0  210586.200000  ...       164957.00
South Carolina                    46.0  100552.195652  ...       146063.50
South Dakota                      66.0   12336.227273  ...        10334.75
Tennessee                         95.0   66802.894737  ...        56458.00
Texas                            254.0   99000.413386  ...        49321.75
Utah                              29.0   95306.482759  ...        51484.00
Vermont                           14.0   44696.071429  ...        54126.00
Virginia                         133.0   60158.233083  ...        54663.00
Washington                        39.0  172424.179487  ...       153486.00
West Virginia                     55.0   33691.109091  ...        38359.00
Wisconsin                         72.0   78990.125000  ...        87066.50
Wyoming                           23.0   24511.608696  ...        33969.00

                                 POPESTIMATE2015                               \
                             max           count           mean           std
STNAME
Alabama                 660368.0            67.0   72522.074627  1.058137e+05
Alaska                  300357.0            29.0   25463.172414  5.867997e+04
Arizona                4090022.0            15.0  455204.333333  1.056990e+06
Arkansas                392490.0            75.0   39709.386667  6.027020e+04
California            10109436.0            58.0  674910.655172  1.477043e+06
Colorado                663963.0            64.0   85258.968750  1.731548e+05
Connecticut             945816.0             8.0  448860.750000  3.778265e+05
Delaware                553347.0             3.0  315311.333333  2.101734e+05
District of Columbia    659836.0             1.0  672228.000000           NaN
Florida                2668903.0            67.0  302556.298507  4.830767e+05
Georgia                 996463.0           159.0   64244.402516  1.386611e+05
Hawaii                  992082.0             5.0  286320.600000  4.056992e+05
Idaho                   426847.0            44.0   37612.045455  7.352363e+04
Illinois               5248704.0           102.0  126078.382353  5.319565e+05
Indiana                 934531.0            92.0   71953.043478  1.208524e+05
Iowa                    460341.0            99.0   31554.535354  5.684560e+04
Kansas                  573964.0           105.0   27729.914286  7.813176e+04
Kentucky                760621.0           120.0   36875.766667  7.684637e+04
Louisiana               446064.0            64.0   72980.062500  9.864068e+04
Maine                   287875.0            16.0   83083.000000  7.509957e+04
Maryland               1030476.0            24.0  250266.708333  3.060913e+05
Massachusetts          1572523.0            14.0  485315.857143  4.353452e+05
Michigan               1766008.0            83.0  119549.108434  2.589048e+05
Minnesota              1212097.0            87.0   63098.781609  1.523805e+05
Mississippi             244406.0            82.0   36491.865854  4.296988e+04
Missouri               1002188.0           115.0   52901.495652  1.241784e+05
Montana                 155588.0            56.0   18445.517857  3.194864e+04
Nebraska                543985.0            93.0   20389.139785  6.663466e+04
Nevada                 2069146.0            17.0  170049.705882  5.119906e+05
New Hampshire           405339.0            10.0  133060.800000  1.246618e+05
New Jersey              932836.0            21.0  426572.047619  2.624544e+05
New Mexico              675647.0            33.0   63185.121212  1.207211e+05
New York               2620720.0            62.0  319286.951613  5.544434e+05
North Carolina         1011928.0           100.0  100428.020000  1.582575e+05
North Dakota            167276.0            53.0   14281.641509  2.870866e+04
Ohio                   1260610.0            88.0  131970.715909  2.162611e+05
Oklahoma                766845.0            77.0   50796.597403  1.152736e+05
Oregon                  777880.0            36.0  111916.027778  1.744656e+05
Pennsylvania           1561562.0            67.0  191082.134328  2.738224e+05
Rhode Island            632025.0             5.0  211259.600000  2.400540e+05
South Carolina          482577.0            46.0  106437.956522  1.187606e+05
South Dakota            182649.0            66.0   13007.106061  2.665543e+04
Tennessee               938405.0            95.0   69476.831579  1.313463e+05
Texas                  4447577.0           254.0  108146.118110  3.902188e+05
Utah                   1092888.0            29.0  103307.551724  2.294843e+05
Vermont                 160743.0            14.0   44717.285714  3.757316e+04
Virginia               1139045.0           133.0   63030.022556  1.249163e+05
Washington             2082288.0            39.0  183855.153846  3.734423e+05
West Virginia           190151.0            55.0   33529.600000  3.346299e+04
Wisconsin               957913.0            72.0   80157.458333  1.353365e+05
Wyoming                  96469.0            23.0   25482.913043  2.433428e+04


                           min        25%       50%        75%         max
STNAME
Alabama                 8479.0   18163.00   34123.0   81736.50    660367.0
Alaska                   613.0    2534.00    6839.0   13709.00    298695.0
Arizona                 9529.0   49810.00  126427.0  213496.00   4167947.0
Arkansas                5229.0   12330.00   18778.0   38683.00    392664.0
California              1110.0   47048.25  182321.5  679176.50  10170292.0
Colorado                 701.0    5761.50   14336.5   42382.50    682545.0
Connecticut           116573.0  160902.25  227733.0  868562.75    948053.0
Delaware              173533.0  194577.50  215622.0  386200.50    556779.0
District of Columbia  672228.0  672228.00  672228.0  672228.00    672228.0
Florida                 8331.0   27461.00  118891.0  334564.50   2693117.0
Georgia                 1639.0   11382.00   22708.0   54338.00   1010562.0
Hawaii                    89.0   71735.00  164637.0  196428.00    998714.0
Idaho                    880.0    7500.50   12946.5   29936.00    434211.0
Illinois                4135.0   14284.25   26610.0   53319.00   5238216.0
Indiana                 5938.0   20914.00   34073.5   68396.25    939020.0
Iowa                    3796.0   10092.00   15527.0   24761.00    467711.0
Kansas                  1330.0    3130.00    7039.0   20803.00    580159.0
Kentucky                2138.0   12258.75   18895.0   35834.75    763623.0
Louisiana               4740.0   20030.50   33419.0   76539.25    446753.0
Maine                  16931.0   34854.00   52886.0  110419.75    289977.0
Maryland               19787.0   46056.00  106897.5  266071.00   1040116.0
Massachusetts          10925.0  136194.00  490541.5  756038.00   1585139.0
Michigan                2168.0   22519.50   38033.0   95104.50   1759335.0
Minnesota               3401.0   10791.50   21770.0   43988.50   1223149.0
Mississippi             1337.0   12847.00   23068.0   35893.75    242891.0
Missouri                2057.0   10167.50   18348.0   38594.00   1003362.0
Montana                  475.0    2994.50    7249.5   12411.75    157048.0
Nebraska                 456.0    2883.00    6309.0   10806.00    550064.0
Nevada                   829.0    5036.00   17019.0   51935.00   2114801.0
New Hampshire          31212.0   50624.00   82614.5  142701.75    406678.0
New Jersey             64180.0  155854.00  450226.0  588721.00    938506.0
New Mexico               698.0   11282.00   27329.0   65764.00    676685.0
New York                4712.0   49896.50   89258.5  230937.25   2636735.0
North Carolina          4070.0   24993.25   55422.0  115182.50   1034070.0
North Dakota             767.0    2417.00    4312.0   10897.00    171512.0
Ohio                   13048.0   36982.25   57733.5  123712.75   1255921.0
Oklahoma                2216.0   10483.00   22004.0   45366.00    776864.0
Oregon                  1358.0   20223.75   42434.5  103915.50    790294.0
Pennsylvania            4732.0   43421.00   86966.0  210089.00   1567442.0
Rhode Island           49084.0   82423.00  126517.0  164801.00    633473.0
South Carolina          9433.0   27564.75   58746.0  149083.50    491863.0
South Dakota             924.0    2959.75    5438.5   10304.00    185197.0
Tennessee               5146.0   17845.00   31552.0   56478.50    938069.0
Texas                    112.0    6929.00   18531.5   49327.00   4538028.0
Utah                    1109.0    9516.00   20862.0   52097.00   1107314.0
Vermont                 6163.0   27549.75   36676.0   54002.50    161382.0
Virginia                2214.0   14785.00   25515.0   54591.00   1142234.0
Washington              2219.0   20937.00   61023.0  156077.50   2117125.0
West Virginia           5880.0   13372.50   23353.0   38243.50    188332.0
Wisconsin               4464.0   19131.25   40886.5   87597.25    957735.0
Wyoming                 2542.0    8698.50   15559.0   33982.50     97121.0

[51 rows x 64 columns]

In [70]:
census.groupby('STNAME')[['CENSUS2010POP', 'ESTIMATESBASE2010', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015']].describe().stack()

               CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME
Alabama count      67.000000          67.000000        67.000000
        mean    71339.343284       71345.179104     71420.313433
        std    103726.656757      103725.542502    103823.102427
        min      9045.000000        9045.000000      9001.000000
        25%     18663.500000       18664.500000     18663.000000
...                      ...                ...              ...
Wyoming min      2484.000000        2484.000000      2492.000000
        25%      8618.000000        8618.000000      8629.500000
        50%     15885.000000       15885.000000     15837.000000
        75%     32707.500000       32707.500000     32787.000000
        max     91738.000000       91881.000000     92271.000000

               POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME
Alabama count        67.000000        67.000000        67.000000
        mean      71658.328358     71881.925373     72097.507463
        std      104153.462238    104485.017581    104962.151696
        min        8910.000000      8835.000000      8706.000000
        25%       18383.000000     18302.000000     18285.500000
...                        ...              ...              ...
Wyoming min        2485.000000      2475.000000      2548.000000
        25%        8668.500000      8671.000000      8673.500000
        50%       15817.000000     15678.000000     15787.000000
        75%       33091.500000     33495.000000     33720.500000
        max       92663.000000     94894.000000     96006.000000

               POPESTIMATE2014  POPESTIMATE2015
STNAME
Alabama count        67.000000        67.000000
        mean      72334.492537     72522.074627
        std      105467.254505    105813.737164
        min        8553.000000      8479.000000
        25%       18281.500000     18163.000000
...                        ...              ...
Wyoming min        2530.000000      2542.000000
        25%        8664.000000      8698.500000
        50%       15856.000000     15559.000000
        75%       33969.000000     33982.500000
        max       96469.000000     97121.000000

[407 rows x 8 columns]

In [29]:
census[['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013']].nlargest(3, ['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013'])

      POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013
209           9826009          9896602          9970436         10045175
624           5199303          5215623          5232690          5246731
2667          4108187          4181238          4262504          4352462

In [90]:
# Using the same logic we can find out the 3 counties with smallest population
# Wow excited!

census[['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013']].nsmallest(3, ['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013'])

      POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013
2673               83               95               81              103
548                90               90               89               89
2657              288              258              270              272

In [88]:
# idxmax() return index of first occurrence of maximum over requested axis.
census['POPESTIMATE2010'].idxmax()
# Here the row ids are those with maximum numbers occurred

204

In [89]:
# The Los Angeles County had the largest population in the U.S.
census.loc[census['POPESTIMATE2010'].idxmax()]

STNAME                 California
CTYNAME        Los Angeles County
SUMLEV                         50
REGION                          4
DIVISION                        9
                      ...
RNETMIG2011            -0.0078083
RNETMIG2012               0.37751
RNETMIG2013              0.578049
RNETMIG2014              0.215038
RNETMIG2015             -0.437481
Name: 204, Length: 100, dtype: object

In [91]:
# idxmin() return index of first occurrence of maximum over requested axis.
census['POPESTIMATE2010'].idxmin()

2673

In [93]:
census.loc[census['POPESTIMATE2010'].idxmin()]

STNAME                 Texas
CTYNAME        Loving County
SUMLEV                    50
REGION                     3
DIVISION                   7
                   ...
RNETMIG2011          101.124
RNETMIG2012         -147.727
RNETMIG2013           239.13
RNETMIG2014         -178.947
RNETMIG2015          281.407
Name: 2673, Length: 100, dtype: object

In [ ]:
# Since idxmax returns Using idxmax we can sub

In [ ]:
census.POPESTIMATE2010.idxmax()

In [36]:
census.iloc[[209, 624, 2667]][['STNAME', 'CTYNAME']]

          STNAME          CTYNAME
214   California    Merced County
638     Illinois  Gallatin County
2711       Texas      Leon County

In [31]:
census[['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013']].idxmax(axis = "columns")

1       POPESTIMATE2011
2       POPESTIMATE2013
3       POPESTIMATE2010
4       POPESTIMATE2010
5       POPESTIMATE2012
             ...
3188    POPESTIMATE2013
3189    POPESTIMATE2013
3190    POPESTIMATE2010
3191    POPESTIMATE2010
3192    POPESTIMATE2010
Length: 3142, dtype: object

### reset_index()

Multi-level indexing on xxx AND xxx, promoting the xxx to a second level of the index
### set_index([])

* Set the DataFrame index using existing columns.

* Set the DataFrame index (row labels) using one or more existing columns

In [71]:
# We want to make a multi-level index for the census data
# We like to clearly see what state and city the observed county belongs to.

census.set_index(['STNAME', 'CTYNAME'], inplace = True)

In [42]:
census

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County         50       3         6      1       1
        Baldwin County         50       3         6      1       3
        Barbour County         50       3         6      1       5
        Bibb County            50       3         6      1       7
        Blount County          50       3         6      1       9
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County      50       4         8     56      37
        Teton County           50       4         8     56      39
        Uinta County           50       4         8     56      41
        Washakie County        50       4         8     56      43
        Weston County          50       4         8     56      45

                           CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County             54571              54571            54660
        Baldwin County            182265             182265           183193
        Barbour County             27457              27457            27341
        Bibb County                22915              22919            22861
        Blount County              57322              57322            57373
...                                  ...                ...              ...
Wyoming Sweetwater County          43806              43806            43593
        Teton County               21294              21294            21297
        Uinta County               21118              21118            21102
        Washakie County             8533               8533             8545
        Weston County               7208               7208             7181

                           POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME  CTYNAME                                              ...
Alabama Autauga County               55253            55175  ...
        Baldwin County              186659           190396  ...
        Barbour County               27226            27159  ...
        Bibb County                  22733            22642  ...
        Blount County                57711            57776  ...
...                                    ...              ...  ...
Wyoming Sweetwater County            44041            45104  ...
        Teton County                 21482            21697  ...
        Uinta County                 20912            20989  ...
        Washakie County               8469             8443  ...
        Weston County                 7114             7065  ...

                           RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME
Alabama Autauga County             7.242091         -2.915927
        Baldwin County            14.832960         17.647293
        Barbour County            -4.728132         -2.500690
        Bibb County               -5.527043         -5.068871
        Blount County              1.807375         -1.177622
...                                     ...               ...
Wyoming Sweetwater County          1.072643         16.243199
        Teton County              -1.589565          0.972695
        Uinta County             -17.755986         -4.916350
        Washakie County          -11.637475         -0.827815
        Weston County            -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
        Blount County        -1.402476    -1.577232    -0.884411
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3142 rows x 98 columns]

## Select Rows in multi-level dataframe

In [43]:
# Method 1: using .loc
census.loc[['Michigan']]

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME   CTYNAME
Michigan Alcona County         50       2         3     26       1
         Alger County          50       2         3     26       3
         Allegan County        50       2         3     26       5
         Alpena County         50       2         3     26       7
         Antrim County         50       2         3     26       9
...                           ...     ...       ...    ...     ...
         Tuscola County        50       2         3     26     157
         Van Buren County      50       2         3     26     159
         Washtenaw County      50       2         3     26     161
         Wayne County          50       2         3     26     163
         Wexford County        50       2         3     26     165

                           CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Alcona County             10942              10942            10890
         Alger County               9601               9601             9564
         Allegan County           111408             111408           111502
         Alpena County             29598              29598            29539
         Antrim County             23580              23580            23499
...                                  ...                ...              ...
         Tuscola County            55729              55729            55696
         Van Buren County          76258              76265            76155
         Washtenaw County         344791             345066           345563
         Wayne County            1820584            1820641          1815199
         Wexford County            32735              32735            32757

                           POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME   CTYNAME                                             ...
Michigan Alcona County               10775            10607  ...
         Alger County                 9554             9496  ...
         Allegan County             111530           111898  ...
         Alpena County               29342            29219  ...
         Antrim County               23379            23337  ...
...                                    ...              ...  ...
         Tuscola County              55392            54714  ...
         Van Buren County            75914            75258  ...
         Washtenaw County           349048           351213  ...
         Wayne County              1801273          1792514  ...
         Wexford County              32694            32597  ...

                           RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME   CTYNAME
Michigan Alcona County             0.276944         -2.899635
         Alger County              1.150748          0.314961
         Allegan County           -6.035008         -0.913046
         Alpena County            -3.498582         -0.034152
         Antrim County            -3.797090         -0.342495
...                                     ...               ...
         Tuscola County           -4.734985        -13.187292
         Van Buren County         -6.286620        -12.594925
         Washtenaw County          0.129569         -4.309822
         Wayne County            -13.340073        -10.271616
         Wexford County           -4.491910         -3.982172

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME   CTYNAME
Michigan Alcona County             8.782284         -2.949572
         Alger County              4.527984         -0.211093
         Allegan County            0.267512          7.703397
         Alpena County            -3.262083          0.172479
         Antrim County            -0.730288          3.099240
...                                     ...               ...
         Tuscola County           -9.106264         -3.714827
         Van Buren County         -1.952334         -4.650916
         Washtenaw County         -1.780293         -2.955078
         Wayne County            -14.119617        -11.903253
         Wexford County           -3.285484          8.463184

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME   CTYNAME
Michigan Alcona County             3.077367     0.461574    -2.525489
         Alger County             -2.442262     1.359975     0.629921
         Allegan County            3.056470    -5.604577    -0.546037
         Alpena County            -2.770323    -3.294781     0.204915
         Antrim County            -0.819018    -3.711762    -0.128436
...                                     ...          ...          ...
         Tuscola County           -3.730166    -4.464929   -12.932992
         Van Buren County         -4.059792    -5.957822   -12.237716
         Washtenaw County         -6.078985     5.191395     1.248106
         Wayne County             -8.762835   -11.344758    -8.098421
         Wexford County           -0.758438    -4.400238    -3.859644

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME   CTYNAME
Michigan Alcona County        9.160017    -2.568982     3.462038
         Alger County         4.843890     0.105546    -2.123706
         Allegan County       0.677697     8.269433     3.634485
         Alpena County       -2.987381     0.448446    -2.493291
         Antrim County       -0.515497     3.357510    -0.560381
...                                ...          ...          ...
         Tuscola County      -8.830873    -3.437601    -3.433237
         Van Buren County    -1.540617    -4.106094    -3.487428
         Washtenaw County     4.226778     3.801394     0.595048
         Wayne County       -11.732437    -9.161648    -6.010195
         Wexford County      -3.162662     8.585396    -0.637088

[83 rows x 98 columns]

In [44]:
# Method 2: using query() function
census.query("STNAME == 'Michigan'")

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME   CTYNAME
Michigan Alcona County         50       2         3     26       1
         Alger County          50       2         3     26       3
         Allegan County        50       2         3     26       5
         Alpena County         50       2         3     26       7
         Antrim County         50       2         3     26       9
...                           ...     ...       ...    ...     ...
         Tuscola County        50       2         3     26     157
         Van Buren County      50       2         3     26     159
         Washtenaw County      50       2         3     26     161
         Wayne County          50       2         3     26     163
         Wexford County        50       2         3     26     165

                           CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Alcona County             10942              10942            10890
         Alger County               9601               9601             9564
         Allegan County           111408             111408           111502
         Alpena County             29598              29598            29539
         Antrim County             23580              23580            23499
...                                  ...                ...              ...
         Tuscola County            55729              55729            55696
         Van Buren County          76258              76265            76155
         Washtenaw County         344791             345066           345563
         Wayne County            1820584            1820641          1815199
         Wexford County            32735              32735            32757

                           POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME   CTYNAME                                             ...
Michigan Alcona County               10775            10607  ...
         Alger County                 9554             9496  ...
         Allegan County             111530           111898  ...
         Alpena County               29342            29219  ...
         Antrim County               23379            23337  ...
...                                    ...              ...  ...
         Tuscola County              55392            54714  ...
         Van Buren County            75914            75258  ...
         Washtenaw County           349048           351213  ...
         Wayne County              1801273          1792514  ...
         Wexford County              32694            32597  ...

                           RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME   CTYNAME
Michigan Alcona County             0.276944         -2.899635
         Alger County              1.150748          0.314961
         Allegan County           -6.035008         -0.913046
         Alpena County            -3.498582         -0.034152
         Antrim County            -3.797090         -0.342495
...                                     ...               ...
         Tuscola County           -4.734985        -13.187292
         Van Buren County         -6.286620        -12.594925
         Washtenaw County          0.129569         -4.309822
         Wayne County            -13.340073        -10.271616
         Wexford County           -4.491910         -3.982172

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME   CTYNAME
Michigan Alcona County             8.782284         -2.949572
         Alger County              4.527984         -0.211093
         Allegan County            0.267512          7.703397
         Alpena County            -3.262083          0.172479
         Antrim County            -0.730288          3.099240
...                                     ...               ...
         Tuscola County           -9.106264         -3.714827
         Van Buren County         -1.952334         -4.650916
         Washtenaw County         -1.780293         -2.955078
         Wayne County            -14.119617        -11.903253
         Wexford County           -3.285484          8.463184

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME   CTYNAME
Michigan Alcona County             3.077367     0.461574    -2.525489
         Alger County             -2.442262     1.359975     0.629921
         Allegan County            3.056470    -5.604577    -0.546037
         Alpena County            -2.770323    -3.294781     0.204915
         Antrim County            -0.819018    -3.711762    -0.128436
...                                     ...          ...          ...
         Tuscola County           -3.730166    -4.464929   -12.932992
         Van Buren County         -4.059792    -5.957822   -12.237716
         Washtenaw County         -6.078985     5.191395     1.248106
         Wayne County             -8.762835   -11.344758    -8.098421
         Wexford County           -0.758438    -4.400238    -3.859644

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME   CTYNAME
Michigan Alcona County        9.160017    -2.568982     3.462038
         Alger County         4.843890     0.105546    -2.123706
         Allegan County       0.677697     8.269433     3.634485
         Alpena County       -2.987381     0.448446    -2.493291
         Antrim County       -0.515497     3.357510    -0.560381
...                                ...          ...          ...
         Tuscola County      -8.830873    -3.437601    -3.433237
         Van Buren County    -1.540617    -4.106094    -3.487428
         Washtenaw County     4.226778     3.801394     0.595048
         Wayne County       -11.732437    -9.161648    -6.010195
         Wexford County      -3.162662     8.585396    -0.637088

[83 rows x 98 columns]

In [45]:
census.index

MultiIndex([('Alabama',    'Autauga County'),
            ('Alabama',    'Baldwin County'),
            ('Alabama',    'Barbour County'),
            ('Alabama',       'Bibb County'),
            ('Alabama',     'Blount County'),
            ('Alabama',    'Bullock County'),
            ('Alabama',     'Butler County'),
            ('Alabama',    'Calhoun County'),
            ('Alabama',   'Chambers County'),
            ('Alabama',   'Cherokee County'),
            ...
            ('Wyoming',   'Niobrara County'),
            ('Wyoming',       'Park County'),
            ('Wyoming',     'Platte County'),
            ('Wyoming',   'Sheridan County'),
            ('Wyoming',   'Sublette County'),
            ('Wyoming', 'Sweetwater County'),
            ('Wyoming',      'Teton County'),
            ('Wyoming',      'Uinta County'),
            ('Wyoming',   'Washakie County'),
            ('Wyoming',     'Weston County')],
           names=['STNAME', 'CTYNAME'], length=3142)

In [72]:
# Method 3: using get_level_values
# Return an Index of values for requested level
census[census.index.get_level_values('STNAME') == 'Michigan']

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME   CTYNAME
Michigan Alcona County         50       2         3     26       1
         Alger County          50       2         3     26       3
         Allegan County        50       2         3     26       5
         Alpena County         50       2         3     26       7
         Antrim County         50       2         3     26       9
...                           ...     ...       ...    ...     ...
         Tuscola County        50       2         3     26     157
         Van Buren County      50       2         3     26     159
         Washtenaw County      50       2         3     26     161
         Wayne County          50       2         3     26     163
         Wexford County        50       2         3     26     165

                           CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Alcona County             10942              10942            10890
         Alger County               9601               9601             9564
         Allegan County           111408             111408           111502
         Alpena County             29598              29598            29539
         Antrim County             23580              23580            23499
...                                  ...                ...              ...
         Tuscola County            55729              55729            55696
         Van Buren County          76258              76265            76155
         Washtenaw County         344791             345066           345563
         Wayne County            1820584            1820641          1815199
         Wexford County            32735              32735            32757

                           POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME   CTYNAME                                             ...
Michigan Alcona County               10775            10607  ...
         Alger County                 9554             9496  ...
         Allegan County             111530           111898  ...
         Alpena County               29342            29219  ...
         Antrim County               23379            23337  ...
...                                    ...              ...  ...
         Tuscola County              55392            54714  ...
         Van Buren County            75914            75258  ...
         Washtenaw County           349048           351213  ...
         Wayne County              1801273          1792514  ...
         Wexford County              32694            32597  ...

                           RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME   CTYNAME
Michigan Alcona County             0.276944         -2.899635
         Alger County              1.150748          0.314961
         Allegan County           -6.035008         -0.913046
         Alpena County            -3.498582         -0.034152
         Antrim County            -3.797090         -0.342495
...                                     ...               ...
         Tuscola County           -4.734985        -13.187292
         Van Buren County         -6.286620        -12.594925
         Washtenaw County          0.129569         -4.309822
         Wayne County            -13.340073        -10.271616
         Wexford County           -4.491910         -3.982172

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME   CTYNAME
Michigan Alcona County             8.782284         -2.949572
         Alger County              4.527984         -0.211093
         Allegan County            0.267512          7.703397
         Alpena County            -3.262083          0.172479
         Antrim County            -0.730288          3.099240
...                                     ...               ...
         Tuscola County           -9.106264         -3.714827
         Van Buren County         -1.952334         -4.650916
         Washtenaw County         -1.780293         -2.955078
         Wayne County            -14.119617        -11.903253
         Wexford County           -3.285484          8.463184

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME   CTYNAME
Michigan Alcona County             3.077367     0.461574    -2.525489
         Alger County             -2.442262     1.359975     0.629921
         Allegan County            3.056470    -5.604577    -0.546037
         Alpena County            -2.770323    -3.294781     0.204915
         Antrim County            -0.819018    -3.711762    -0.128436
...                                     ...          ...          ...
         Tuscola County           -3.730166    -4.464929   -12.932992
         Van Buren County         -4.059792    -5.957822   -12.237716
         Washtenaw County         -6.078985     5.191395     1.248106
         Wayne County             -8.762835   -11.344758    -8.098421
         Wexford County           -0.758438    -4.400238    -3.859644

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME   CTYNAME
Michigan Alcona County        9.160017    -2.568982     3.462038
         Alger County         4.843890     0.105546    -2.123706
         Allegan County       0.677697     8.269433     3.634485
         Alpena County       -2.987381     0.448446    -2.493291
         Antrim County       -0.515497     3.357510    -0.560381
...                                ...          ...          ...
         Tuscola County      -8.830873    -3.437601    -3.433237
         Van Buren County    -1.540617    -4.106094    -3.487428
         Washtenaw County     4.226778     3.801394     0.595048
         Wayne County       -11.732437    -9.161648    -6.010195
         Wexford County      -3.162662     8.585396    -0.637088

[83 rows x 98 columns]

In [77]:
# Here Level 0 means the first index level
# Level 1 means the second index level

# census[census.index.get_level_values(0) == 'Michigan']

# Let's see the change of population in Washtenaw County, which is home to the University of Michigan.
census[census.index.get_level_values(1) == 'Washtenaw County']

,,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,CTYNAME,,,,,,,,,,,,,,,,,,,,,
Michigan,Washtenaw County,50,2,3,26,161,344791,345066,345563,349048,351213,...,0.129569,-4.309822,-1.780293,-2.955078,-6.078985,5.191395,1.248106,4.226778,3.801394,0.595048

In [83]:
# Overwriting the dataset without making an explicit copy
census.reset_index(inplace = True)

In [50]:
census

,STNAME,CTYNAME,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,Alabama,Autauga County,50,3,6,1,1,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
1,Alabama,Baldwin County,50,3,6,1,3,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
2,Alabama,Barbour County,50,3,6,1,5,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
3,Alabama,Bibb County,50,3,6,1,7,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
4,Alabama,Blount County,50,3,6,1,9,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,Wyoming,Sweetwater County,50,4,8,56,37,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3138,Wyoming,Teton County,50,4,8,56,39,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3139,Wyoming,Uinta County,50,4,8,56,41,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3140,Wyoming,Washakie County,50,4,8,56,43,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3141,Wyoming,Weston County,50,4,8,56,45,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

Next office hour is on **Wednesday 10:00 am EST**. We will start from here!

In [ ]:
# The office hour will start in 5 minutes. 

# During the office hour, you can clarify and ask questions about course content.
# You can also talk about problems regarding your reading, code, etc. 
# I am glad to explain and help. Let us begin soon!

* agg()

In [97]:
# get_group()
census.groupby('STNAME').get_group('Michigan')

,STNAME,CTYNAME,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1231,Michigan,Alcona County,50,2,3,26,1,10942,10942,10890,...,0.276944,-2.899635,8.782284,-2.949572,3.077367,0.461574,-2.525489,9.160017,-2.568982,3.462038
1232,Michigan,Alger County,50,2,3,26,3,9601,9601,9564,...,1.150748,0.314961,4.527984,-0.211093,-2.442262,1.359975,0.629921,4.843890,0.105546,-2.123706
1233,Michigan,Allegan County,50,2,3,26,5,111408,111408,111502,...,-6.035008,-0.913046,0.267512,7.703397,3.056470,-5.604577,-0.546037,0.677697,8.269433,3.634485
1234,Michigan,Alpena County,50,2,3,26,7,29598,29598,29539,...,-3.498582,-0.034152,-3.262083,0.172479,-2.770323,-3.294781,0.204915,-2.987381,0.448446,-2.493291
1235,Michigan,Antrim County,50,2,3,26,9,23580,23580,23499,...,-3.797090,-0.342495,-0.730288,3.099240,-0.819018,-3.711762,-0.128436,-0.515497,3.357510,-0.560381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1309,Michigan,Tuscola County,50,2,3,26,157,55729,55729,55696,...,-4.734985,-13.187292,-9.106264,-3.714827,-3.730166,-4.464929,-12.932992,-8.830873,-3.437601,-3.433237
1310,Michigan,Van Buren County,50,2,3,26,159,76258,76265,76155,...,-6.286620,-12.594925,-1.952334,-4.650916,-4.059792,-5.957822,-12.237716,-1.540617,-4.106094,-3.487428
1311,Michigan,Washtenaw County,50,2,3,26,161,344791,345066,345563,...,0.129569,-4.309822,-1.780293,-2.955078,-6.078985,5.191395,1.248106,4.226778,3.801394,0.595048
1312,Michigan,Wayne County,50,2,3,26,163,1820584,1820641,1815199,...,-13.340073,-10.271616,-14.119617,-11.903253,-8.762835,-11.344758,-8.098421,-11.732437,-9.161648,-6.010195
1313,Michigan,Wexford County,50,2,3,26,165,32735,32735,32757,...,-4.491910,-3.982172,-3.285484,8.463184,-0.758438,-4.400238,-3.859644,-3.162662,8.585396,-0.637088

In [100]:
# We will skip rows 
census.groupby('STNAME').get_group('Washington')[0:20:2]

,STNAME,CTYNAME,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
2953,Washington,Adams County,50,4,9,53,1,18728,18728,18810,...,-14.962990,-12.524772,-6.093077,-10.807142,-12.120266,-13.901785,-11.943454,-5.305179,-9.397515,-10.507699
2955,Washington,Benton County,50,4,9,53,5,175177,175177,176516,...,14.001837,1.955320,2.587738,2.672191,10.239922,15.256402,3.183591,3.987840,4.234560,11.789174
2957,Washington,Clallam County,50,4,9,53,9,71404,71404,71533,...,6.280048,3.899531,7.330737,8.282145,13.533670,6.838275,4.665511,8.038820,9.041342,14.395774
2959,Washington,Columbia County,50,4,9,53,13,4078,4078,4106,...,-16.498399,-0.998752,7.488767,-10.010010,-4.041425,-16.252155,-0.749064,7.738392,-9.759760,-3.788836
2961,Washington,Douglas County,50,4,9,53,17,38431,38431,38551,...,-0.258518,6.909170,-2.131331,2.370684,11.399273,0.542888,7.548908,-1.344768,3.379486,12.469511
2963,Washington,Franklin County,50,4,9,53,21,78163,78163,79132,...,30.595774,13.644082,-7.633101,-1.857841,-5.231304,32.283901,14.791937,-6.217845,0.103213,-3.181810
2965,Washington,Grant County,50,4,9,53,25,89120,89120,89627,...,1.552253,-0.745839,-6.005613,1.071753,-4.932911,2.306204,-0.471633,-5.504237,1.829559,-4.073145
2967,Washington,Island County,50,4,9,53,29,78506,78506,78712,...,-0.152184,-4.714239,-15.802112,1.837653,7.908502,0.773601,0.139026,-12.710119,5.474938,13.164151
2969,Washington,King County,50,4,9,53,33,1931249,1931256,1937699,...,5.141363,5.472471,5.662073,3.337122,2.840873,11.616146,12.013317,12.704538,11.206066,10.589099
2971,Washington,Kittitas County,50,4,9,53,37,40915,40909,41014,...,8.426966,-4.110577,1.676366,13.861129,8.285814,10.073615,-2.187500,3.783797,16.179201,10.543466

### cut() function
### qcut()

cut() and qcut() functions serve to slice data up into buckets with bins of your choosing or by sample quantiles

In [101]:
# We apply cut() to the population in 2010 census by each census area
pd.cut(census['CENSUS2010POP'],4)

0       (-9736.523, 2454712.75]
1       (-9736.523, 2454712.75]
2       (-9736.523, 2454712.75]
3       (-9736.523, 2454712.75]
4       (-9736.523, 2454712.75]
                 ...
3137    (-9736.523, 2454712.75]
3138    (-9736.523, 2454712.75]
3139    (-9736.523, 2454712.75]
3140    (-9736.523, 2454712.75]
3141    (-9736.523, 2454712.75]
Name: CENSUS2010POP, Length: 3142, dtype: category
Categories (4, interval[float64]): [(-9736.523, 2454712.75] < (2454712.75, 4909343.5] < (4909343.5, 7363974.25] < (7363974.25, 9818605.0]]

In [102]:
census = census[census['SUMLEV'] == 50]

In [104]:
pd.cut(census['CENSUS2010POP'],4)

0       (-9736.523, 2454712.75]
1       (-9736.523, 2454712.75]
2       (-9736.523, 2454712.75]
3       (-9736.523, 2454712.75]
4       (-9736.523, 2454712.75]
                 ...
3137    (-9736.523, 2454712.75]
3138    (-9736.523, 2454712.75]
3139    (-9736.523, 2454712.75]
3140    (-9736.523, 2454712.75]
3141    (-9736.523, 2454712.75]
Name: CENSUS2010POP, Length: 3142, dtype: category
Categories (4, interval[float64]): [(-9736.523, 2454712.75] < (2454712.75, 4909343.5] < (4909343.5, 7363974.25] < (7363974.25, 9818605.0]]

In [105]:
# By splitting the observations into 4 bins based on 0%, 25%, 50%, 75% quantiles, each bin
# contains 25% of the counties, and the last bin for example contains all 25% largest population countiesb
pd.qcut(census['CENSUS2010POP'],4)
# Median = 50%

0         (25872.0, 66780.0]
1       (66780.0, 9818605.0]
2         (25872.0, 66780.0]
3         (11114.5, 25872.0]
4         (25872.0, 66780.0]
                ...
3137      (25872.0, 66780.0]
3138      (11114.5, 25872.0]
3139      (11114.5, 25872.0]
3140       (81.999, 11114.5]
3141       (81.999, 11114.5]
Name: CENSUS2010POP, Length: 3142, dtype: category
Categories (4, interval[float64]): [(81.999, 11114.5] < (11114.5, 25872.0] < (25872.0, 66780.0] < (66780.0, 9818605.0]]

In [107]:
# qcut() and pass a list of the quantiles (from 0 to 1) to customize how you want to subset
# your data column/set with different quantile values
pd.qcut(census['CENSUS2010POP'], [0, 0.1, 0.5, 0.9, 1.])

0       (25872.0, 197454.8]
1       (25872.0, 197454.8]
2       (25872.0, 197454.8]
3         (5191.8, 25872.0]
4       (25872.0, 197454.8]
               ...
3137    (25872.0, 197454.8]
3138      (5191.8, 25872.0]
3139      (5191.8, 25872.0]
3140      (5191.8, 25872.0]
3141      (5191.8, 25872.0]
Name: CENSUS2010POP, Length: 3142, dtype: category
Categories (4, interval[float64]): [(81.999, 5191.8] < (5191.8, 25872.0] < (25872.0, 197454.8] < (197454.8, 9818605.0]]

In [109]:
# Column-Wise and Multiple Function Application

# Let's say we want to know the population growth from 2010 to 2015 (in absolute sense)
census['Population_Growth'] = census['POPESTIMATE2015'] - census['POPESTIMATE2010']

census['Population_Growth']

0         687
1       20516
2        -852
3        -278
4         300
        ...
3137     1033
3138     1828
3139     -280
3140     -217
3141       53
Name: Population_Growth, Length: 3142, dtype: int64

In [110]:
# Let's say we want to know the population growth from 2010 to 2015 (in relative sense)
census['Population_Growth'] = census['POPESTIMATE2015'] / census['POPESTIMATE2010']

census['Population_Growth']

# If the result > 1, that means the population increased during the 5 years in a certain county
# If the result < 1, that means the population decreased during the 5 years in a certain county

0       1.012569
1       1.111991
2       0.968838
3       0.987840
4       1.005229
          ...
3137    1.023696
3138    1.085834
3139    0.986731
3140    0.974605
3141    1.007381
Name: Population_Growth, Length: 3142, dtype: float64

In [111]:
census['Population_Percent_Growth'] = (census['POPESTIMATE2015'] - census['POPESTIMATE2010']) / census['POPESTIMATE2010']
census['Population_Percent_Growth']

0       0.012569
1       0.111991
2      -0.031162
3      -0.012160
4       0.005229
          ...
3137    0.023696
3138    0.085834
3139   -0.013269
3140   -0.025395
3141    0.007381
Name: Population_Percent_Growth, Length: 3142, dtype: float64

In [112]:
# agg() for [mean, min, max, var]

census.groupby('STNAME').agg(['mean', 'min', 'max', 'var'])['Population_Percent_Growth']

# Why there is an NAN in the var column in District of Columbia???
# Ans: Because there is only one census area in District of Columbia.

                          mean       min       max       var
STNAME
Alabama              -0.007001 -0.113251  0.119388  0.002018
Alaska                0.016004 -0.109780  0.126269  0.002294
Arizona               0.027321 -0.040832  0.142703  0.002243
Arkansas             -0.018144 -0.099455  0.119555  0.001864
California            0.017581 -0.100290  0.082220  0.001925
Colorado              0.019329 -0.104317  0.156279  0.003001
Connecticut          -0.006485 -0.032513  0.030779  0.000324
Delaware              0.062482  0.033156  0.089605  0.000800
District of Columbia  0.110889  0.110889  0.110889       NaN
Florida               0.044702 -0.056449  0.261055  0.003725
Georgia               0.006536 -0.092251  0.207423  0.002465
Hawaii                0.044546 -0.011111  0.067342  0.001042
Idaho                 0.002045 -0.140254  0.103560  0.002024
Illinois             -0.022581 -0.174580  0.069833  0.000771
Indiana               0.000218 -0.046468  0.120057  0.001013
Iowa                 -0.008155 -0.070525  0.201448  0.001250
Kansas               -0.015987 -0.093282  0.072948  0.000966
Kentucky             -0.001921 -0.124027  0.104835  0.001233
Louisiana             0.002125 -0.092649  0.233511  0.002449
Maine                -0.009131 -0.043125  0.030253  0.000413
Maryland              0.018007 -0.033269  0.085853  0.001052
Massachusetts         0.026356 -0.026280  0.074872  0.000886
Michigan             -0.009389 -0.109414  0.059870  0.000719
Minnesota            -0.000441 -0.052758  0.085210  0.000858
Mississippi          -0.015255 -0.083160  0.117596  0.001548
Missouri             -0.008107 -0.085644  0.072145  0.000793
Montana               0.022452 -0.066860  0.226918  0.002663
Nebraska             -0.013002 -0.115456  0.130560  0.001509
Nevada                0.006685 -0.061413  0.082638  0.001745
New Hampshire        -0.000906 -0.053608  0.029265  0.000580
New Jersey            0.006868 -0.034553  0.060534  0.000587
New Mexico           -0.021059 -0.096178  0.101431  0.002657
New York             -0.006989 -0.041515  0.050352  0.000507
North Carolina        0.012630 -0.077725  0.134811  0.002216
North Dakota          0.077879 -0.048718  1.004376  0.030134
Ohio                 -0.004945 -0.035178  0.102012  0.000551
Oklahoma              0.010306 -0.098087  0.146460  0.001688
Oregon                0.015648 -0.061507  0.110423  0.001321
Pennsylvania         -0.007219 -0.067402  0.043907  0.000499
Rhode Island         -0.005206 -0.015643  0.010179  0.000091
South Carolina        0.012668 -0.088070  0.142997  0.003677
South Dakota          0.012915 -0.080597  0.169821  0.001783
Tennessee             0.012812 -0.053428  0.149966  0.001528
Texas                 0.025879 -0.170466  0.349398  0.004546
Utah                  0.049458 -0.056587  0.233597  0.004797
Vermont              -0.005641 -0.030024  0.029189  0.000387
Virginia              0.013740 -0.073812  0.190206  0.002151
Washington            0.030741 -0.039454  0.122264  0.001168
West Virginia        -0.015086 -0.101472  0.076974  0.000971
Wisconsin             0.000276 -0.040424  0.072216  0.000498
Wyoming               0.021783 -0.033678  0.088854  0.001089

# Cross-tabulation and Pivot Table

* pivot_table()
* crosstab()

## Pivot Table

* A pivot table is a data summarization tool frequently found in spreadsheet programs and other data analysis software. It aggregates a table of data by one or more keys, arranging the data in a rectangle with some of the group keys along the rows and some along the columns.

* Syntax: df.pivot_table(index = index, columns = [col1, col2], values = values)

Options:
* values = Column name or names to aggregate; by default aggregates all numeric columns
* index = Column names or other group keys to group on the rows of the resulting pivot table
* columns = Column names or other group keys to group on the columns of the resulting pivot table
* aggfunc = Aggregation function or list of functions
* margins = Add row/column subtotals and grand total

In [127]:
# Let's import the titanic data
titanic = pd.read_csv("titanic.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [114]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [115]:
titanic.shape

(891, 12)

In [116]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

## Cross Tabulation

* Compute a simple cross-tabulation of two (or more) factors. By default computes a frequency table of the factors

* Syntax: pd.crosstab(index, columns, values = None, aggfunc = None)

In [119]:
# Specify margins
pd.crosstab(titanic.Survived, titanic.Pclass, margins = True)

Pclass      1    2    3  All
Survived
0          80   97  372  549
1         136   87  119  342
All       216  184  491  891

In [121]:
# If you specify normalize = "index" option, then you will see everything represented in probability
pd.crosstab(titanic.Survived, titanic.Pclass, margins = True, normalize = "index")

Pclass           1         2         3
Survived
0         0.145719  0.176685  0.677596
1         0.397661  0.254386  0.347953
All       0.242424  0.206510  0.551066

In [128]:
# Convert sex: male->0, female-> 1
gendermap = {'male':0,'female':1}
titanic['Sex'] = titanic['Sex'].map(gendermap)
# pass lambda function
# pd.get_dummies

In [130]:
titanic.describe()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,0.352413,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,0.477990,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,0.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,1.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200

In [132]:
# Pass through a list of the columns for cross-tabulation
pd.crosstab(titanic.Survived, [titanic.Pclass, titanic.Sex], margins = True)

Pclass      1        2        3       All
Sex         0   1    0   1    0    1
Survived
0          77   3   91   6  300   72  549
1          45  91   17  70   47   72  342
All       122  94  108  76  347  144  891

In [139]:
pd.crosstab(titanic.Survived, titanic.Sex, margins = True)#, normalize = "index")

Sex         0    1  All
Survived
0         468   81  549
1         109  233  342
All       577  314  891

In [134]:
# Proportion of male in the Titanic ship.
(122 + 108 + 347) / 891

0.6475869809203143

In [133]:
# Type of crosstab: pandas.core.frame.DataFrame
type(pd.crosstab(titanic.Survived, [titanic.Pclass, titanic.Sex], margins = True))

pandas.core.frame.DataFrame

In [140]:
# Approximately 19% male passengers survived, 74% female passengers survived
titanic.groupby('Sex').mean()['Survived']

Sex
0    0.188908
1    0.742038
Name: Survived, dtype: float64

In [143]:
# Correct
titanic.groupby(['Pclass', 'Sex']).mean()['Survived']

Pclass  Sex
1       0      0.368852
        1      0.968085
2       0      0.157407
        1      0.921053
3       0      0.135447
        1      0.500000
Name: Survived, dtype: float64

In [150]:
# We passed through an index that we want using '', and the columns you want to show up
# Most importantly, you need to make sure the values represent the column you want to aggregate

titanic.pivot_table(index ='Pclass', columns = 'Sex', values = 'Survived', margins = True)

Sex            0         1       All
Pclass
1       0.368852  0.968085  0.629630
2       0.157407  0.921053  0.472826
3       0.135447  0.500000  0.242363
All     0.188908  0.742038  0.383838

In [152]:
titanic.Survived.mean()

0.3838383838383838

In [151]:
titanic.pivot_table(index ='Sex', columns = 'Pclass', values = 'Survived', margins = True)

Pclass         1         2         3       All
Sex
0       0.368852  0.157407  0.135447  0.188908
1       0.968085  0.921053  0.500000  0.742038
All     0.629630  0.472826  0.242363  0.383838

In [154]:
# Here the pivot table only counts for people who survived (values = 'Survived')
titanic.pivot_table(index ='Sex', columns = 'Pclass', values = 'Survived', aggfunc = [np.mean, np.var, np.sum], margins = True)

            mean                                     var                      \
Pclass         1         2         3       All         1         2         3
Sex
0       0.368852  0.157407  0.135447  0.188908  0.234724  0.133870  0.117439
1       0.968085  0.921053  0.500000  0.742038  0.031229  0.073684  0.251748
All     0.629630  0.472826  0.242363  0.383838  0.234281  0.250624  0.183998

                  sum
Pclass       All    1   2    3  All
Sex
0       0.153488   45  17   47  109
1       0.192029   91  70   72  233
All     0.236506  136  87  119  342

## DateTime Functionality

* pandas.date_range(start, end, freq) is one of the general functions in Pandas which is used to return a fixed frequency DatetimeIndex. We can specify the starting and ending point of time captured with a freq of day/week/hour, etc.

In [156]:
dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
df = pd.DataFrame({'Count 1': 100 + np.random.randint(-5, 10, 9).cumsum(),
                  'Count 2': 120 + np.random.randint(-5, 10, 9)}, index=dates)
df

            Count 1  Count 2
2016-10-02      109      123
2016-10-16      106      120
2016-10-30      112      116
2016-11-13      108      128
2016-11-27      105      118
2016-12-11      107      119
2016-12-25      104      118
2017-01-08      100      119
2017-01-22      109      121

In [161]:
# diff() function returns the first discrete difference of element
# By default, it calculates the difference from the previous row

#df.diff()

## Downsampling Time Series

Time series is a kind of data in which longitudinal trends are represented as series indexed by timeindex such as hour, day, week, month, quarter and year, etc.

* resample(rule, loffset) can apply a frequency as the standard time difference of returning observation of data (mostly because of aggregation). Common rules include 'M' represents monthly aggregation, 'W' means weekly, 'Q' means quarterly, 'D' means daily. Loffset option you can specify the time adjustment for your indices.

In [160]:
# Now we resample by number, let's try sum function to compute the sum of values per month
df.resample('M').sum()

            Count 1  Count 2
2016-10-31      327      359
2016-11-30      213      246
2016-12-31      211      237
2017-01-31      209      240

In [163]:
# We take the mean value for the dataframe groupby day
# NaN is generated if the data is empty for a particular day
df.resample('D').mean()

            Count 1  Count 2
2016-10-02    109.0    123.0
2016-10-03      NaN      NaN
2016-10-04      NaN      NaN
2016-10-05      NaN      NaN
2016-10-06      NaN      NaN
...             ...      ...
2017-01-18      NaN      NaN
2017-01-19      NaN      NaN
2017-01-20      NaN      NaN
2017-01-21      NaN      NaN
2017-01-22    109.0    121.0

[113 rows x 2 columns]

In [165]:
type(df)
df['2016']

            Count 1  Count 2
2016-10-02      109      123
2016-10-16      106      120
2016-10-30      112      116
2016-11-13      108      128
2016-11-27      105      118
2016-12-11      107      119
2016-12-25      104      118

In [174]:
# Notice that Pandas allows slicing pandas.core.indexes.datetimes.DatetimeIndex by bracketing
# You can see df['2016'] would subset all rows happening in 2016.
type(df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [187]:
# Remember that .isoweekday() function returns an identifier for weekdays, 
# 1 = Monday, 7 = Sunday, respectively
# close = Right optionin resample() actually bins Each MONDAY to SUNDAY
pd.Timestamp(2016, 10, 1, 0, 0).isoweekday()

6

In [188]:
pd.Timestamp(2016, 10, 2, 0, 0).isoweekday()

7

In [184]:
# Let's create a DataFrame to store daily statistics as Count 1 and Count 2, for up to 90 days
dates = pd.date_range('10-01-2016', periods=90, freq='1D')
df = pd.DataFrame({'Count 1': 100 + np.random.randint(-5, 10, 90).cumsum(),
                  'Count 2': 120 + np.random.randint(-5, 10, 90)}, index=dates)

            Count 1  Count 2
2016-10-01       98      126
2016-10-02      101      127
2016-10-03      107      122
2016-10-04      105      124
2016-10-05      105      118
...             ...      ...
2016-12-25      239      129
2016-12-26      245      126
2016-12-27      254      126
2016-12-28      257      120
2016-12-29      261      124

[90 rows x 2 columns]

In [193]:
# Which side of each interval is closed? If we specify the closed option
# By default, the left bin edge is inclusive. If we are interested in knowing how
# closing the left bin edge or the right bin edge work differently, just take a look
# at the example.

# From isoweekday(), we know that Monday (left-label).... Saturday, Sunday 00:00 (right-label)
# By closed = left, for a week, we start from, Sunday to Saturday, because we typically exclude the right-label
# By closed = right, for a week, we start from Monday to Sunday, because we typically include the right-label
df.resample('W', closed = 'right').sum()

            Count 1  Count 2
2016-10-02      199      253
2016-10-09      717      867
2016-10-16      740      838
2016-10-23      871      861
2016-10-30     1022      838
2016-11-06     1100      841
2016-11-13     1301      867
2016-11-20     1281      863
2016-11-27     1336      833
2016-12-04     1454      864
2016-12-11     1528      841
2016-12-18     1492      860
2016-12-25     1583      861
2017-01-01     1017      496

In [197]:
# Subset as sanity check
df[0:2]

            Count 1  Count 2
2016-10-01       98      126
2016-10-02      101      127

In [199]:
df[2:9].sum()

Count 1    717
Count 2    867
dtype: int64

In [202]:
# The label option specifies how you want the label be shown up for aggregated results,
# while loffset() option refers to making a time adjustment of the time labels
df.resample('W', closed = 'right', label = 'right', loffset = '-2D').sum()

            Count 1  Count 2
2016-09-30      199      253
2016-10-07      717      867
2016-10-14      740      838
2016-10-21      871      861
2016-10-28     1022      838
2016-11-04     1100      841
2016-11-11     1301      867
2016-11-18     1281      863
2016-11-25     1336      833
2016-12-02     1454      864
2016-12-09     1528      841
2016-12-16     1492      860
2016-12-23     1583      861
2016-12-30     1017      496

## OPEN-HIGH-LOW-CLOSE (OHLC) RESAMPLING

ohlc() returns four values for each bucket:

* open
* high
* low
* close

olhc() function benefits typically in quantitative finance world like analyzing the stock market.

In [203]:
df.resample('W', closed = 'right', label = 'right').ohlc()

           Count 1                 Count 2
              open high  low close    open high  low close
2016-10-02      98  101   98   101     126  127  126   127
2016-10-09     107  107   97    97     122  129  118   126
2016-10-16     101  113   97   103     119  127  115   115
2016-10-23     108  137  108   137     121  128  120   122
2016-10-30     143  153  141   153     122  124  115   120
2016-11-06     151  169  149   169     119  125  116   122
2016-11-13     178  193  178   185     126  126  119   119
2016-11-20     187  187  178   184     119  129  118   124
2016-11-27     192  197  185   197     124  125  115   120
2016-12-04     201  216  197   215     116  128  116   128
2016-12-11     215  224  211   220     118  129  115   115
2016-12-18     221  221  209   211     129  129  116   117
2016-12-25     220  239  220   239     124  129  118   129
2017-01-01     245  261  245   261     126  126  120   124

In [194]:
df.resample('W', closed = 'left').sum()

            Count 1  Count 2
2016-10-02       98      126
2016-10-09      721      868
2016-10-16      734      849
2016-10-23      837      854
2016-10-30     1006      840
2016-11-06     1084      839
2016-11-13     1285      870
2016-11-20     1282      858
2016-11-27     1323      837
2016-12-04     1436      856
2016-12-11     1523      854
2016-12-18     1501      858
2016-12-25     1555      849
2017-01-01     1256      625

* dropna()
* fillna()
* isnull
* notnull

In [204]:
# Let's bring in the grade data
grades = pd.read_csv('datasets/class_grades.csv')

In [206]:
grades

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09    64.38     51.48  52.50
1        8       95.05    105.49    67.50     99.07  68.33
2        8       83.70     83.17      NaN     63.15  48.89
3        7         NaN       NaN    49.38    105.93  80.56
4        8       91.32     93.64    95.00    107.41  73.89
..     ...         ...       ...      ...       ...    ...
94       8         NaN    103.71    45.00     93.52  61.94
95       7         NaN     80.54    41.25     93.70  39.72
96       8       89.94    102.77    87.50     90.74  87.78
97       7       95.60     76.13    66.25     99.81  85.56
98       8       63.40     97.37    73.12     72.78  77.22

[99 rows x 6 columns]

In [207]:
# Remember we used rank() function to create a Rank starting from the student with the highest final score
grades['Rank'] = grades['Final'].rank(method = 'max', na_option = 'bottom', ascending = False)
# Then we sort ascending the Rank value, which is, starting from the number one
grades.sort_values("Rank", inplace = True)

In [210]:
# Let's say we are interested in calculating students' grade based on their Final score
bins = [0, 50, 60, 70, 80, 90, 100, 110]
# We can create a grade letter, say F for 0-50, E for 50-60, D for 60-70, C for 70-80
# B for 80-90, A for 90-100, and A+ for above 100, to scale student's grade.
grade_letters = ['F', 'E', 'D', 'C', 'B', 'A', 'A+']
# Let's categorize students' grade by passing a series of student's final grade, bins criteria and
# corresponding grade lettes into the cut() function
pd.cut(grades['Final'], bins, labels = grade_letters)

68     A+
33     A+
75     A+
48     A+
63     A+
     ...
22      F
56      F
60    NaN
20    NaN
38    NaN
Name: Final, Length: 99, dtype: category
Categories (7, object): [F < E < D < C < B < A < A+]

In [212]:
# and create a column called Final_Grade to store students grade in letter
grades['Final_Grade'] = pd.cut(grades['Final'], bins, labels = grade_letters)
# and just take a look about the 16th - 30th highest grade students for example
grades[15:30]

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final  Rank Final_Grade
26       8       82.45     86.65    93.12     85.56  89.17  16.0           B
27       8       75.27     86.67    69.38       NaN  88.89  18.0           B
64       7       91.28    108.71    96.25     99.81  88.89  18.0           B
96       8       89.94    102.77    87.50     90.74  87.78  19.0           B
71       8       93.59    103.83    92.50     96.85  87.22  20.0           B
97       7       95.60     76.13    66.25     99.81  85.56  22.0           B
28       8       91.32     94.89    76.25    107.41  85.56  22.0           B
93       8       87.52     91.58    56.25     71.85  85.00  24.0           B
39       7       95.00     94.36    89.38    100.93  85.00  24.0           B
82       8       97.33    106.74    76.88    108.89  83.89  25.0           B
42       7       92.01    112.58    86.25     86.11  83.33  26.0           B
72       8       97.33    100.42    69.38    102.59  83.06  27.0           B
43       7       86.26     74.66    85.00     64.07  82.22  28.0           B
3        7         NaN       NaN    49.38    105.93  80.56  29.0           B
76       8       75.27     86.67    70.00     71.85  80.00  30.0           C

In [213]:
# If you don't prefer binning students based on column values, you can try qcut().
# qcut() allows you to bin students based on quantile.
# To clarify, a student in 80% quantile means there are 80 percent of students perform 
# worse than that student
pd.qcut(grades['Final'], 4)

68                (84.168, 108.89]
33                (84.168, 108.89]
75                (84.168, 108.89]
48                (84.168, 108.89]
63                (84.168, 108.89]
                  ...
22    (28.058999999999997, 53.122]
56    (28.058999999999997, 53.122]
60                             NaN
20                             NaN
38                             NaN
Name: Final, Length: 99, dtype: category
Categories (4, interval[float64]): [(28.058999999999997, 53.122] < (53.122, 66.25] < (66.25, 84.168] < (84.168, 108.89]]

In [214]:
# You can also pass a list of user-defined quantiles to the qcut() function
# Now you will put the least 10% of the students into the first bin, 10%-50% quantile students into
# the second bin, 50%-90% to the third, and the top 10% students into the last bin.
# Let's see how the result tells you
pd.qcut(grades['Final'], [0, 0.1, 0.5, 0.9, 1.])

68               (91.665, 108.89]
33               (91.665, 108.89]
75               (91.665, 108.89]
48               (91.665, 108.89]
63               (91.665, 108.89]
                 ...
22    (28.058999999999997, 45.56]
56    (28.058999999999997, 45.56]
60                            NaN
20                            NaN
38                            NaN
Name: Final, Length: 99, dtype: category
Categories (4, interval[float64]): [(28.058999999999997, 45.56] < (45.56, 66.25] < (66.25, 91.665] < (91.665, 108.89]]